<%- include('../includes/head.ejs')%>

  <%- include('../includes/header.ejs') %>

  <%- include('../includes/aside.ejs') %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1><%= pageTitle %></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><%= pageTitle %></li>
        </ol>
      </nav>
    </div>

    <section class="section dashboard">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="row">
            <% if(products.length > 0){%>
              <% for(let p of products) {%>
                <div class="product-item col-xxl-4 col-sm-4">
                  <div class="card">
                    <img src="<%= p.imageUrl %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">  <%= p.category%> <span>| <%= p.title %></span></h5>
                      <div class="">
                        <h6><b>$</b> <%= p.price %></h6>
                        <span class="text-muted small pt-2 ps-1"> <%= p.description %></span>
                      </div>
                      <div class="">
                        <a href="/admin/edit-product/<%= p._id %>?edit=true" class="btn btn-outline-secondary">Edit</a>
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <input type="hidden" name="productId" value="<%= p._id %>">
                        <button class="btn btn-outline-danger" onclick="deleteProduct(this)">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            <% }else { %>
              <div class="col-md-4 offset-md-4">
                <h3 class="text-center">No Products Available</h3>
              </div>
            <% } %>
          </div>
        </div>

      </div>
    </section>

  </main>
  
  <%- include('../includes/modal.ejs') %>
  <%- include('../includes/foot.ejs') %>
  <script src="/js/admin.js" type="text/javascript"></script>